.payment-terms
  = cell ContraqWeb.OutputFieldCell, gig: @gig, field: :amount_due, name: _("Amount due:")
  .terms
    %span.field-name= _("Terms:")
    = @gig.formatted_terms
    - if due_date(@gig) do
      = "(#{due_date(@gig)})"
