%article[gig]
  %h1.name= link_to gig.name, gig
  .time-range= gig.time_range
  %div.location= gig.location
  %div
    - if gig.amount_due
      %span.amount-due
        == #{gig.amount_due}#{',' if gig.terms}
    - if gig.terms
      %span.terms= gig.terms
  %div.actions
    = link_to edit_gig_path(gig), class: 'edit-gig' do
      = icon 'pencil'
      = _ 'Edit gig'
