%div[@gig]
  %h1.name= @gig.name

  %p= cell :button, @gig, action: :edit

  = cell 'gig/fields/basic_info', @gig
  = cell 'gig/fields/payment_terms', @gig
  .payments-made
    = cell :payment, collection: @gig.payments
    = link_to _('Report payment'), new_gig_payment_path(@gig)
