%div[@gig]
  %h1.name= @gig.name

  %p
    = link_to edit_gig_path(@gig), class: 'edit-gig' do
      = icon 'pencil'
      = _ 'Edit gig'

  .basic-info
    .start-time
      %span.field-name= _ 'Start time:'
      = @gig.start_time.to_s :datetime

    .end-time
      %span.field-name= _ 'End time:'
      = @gig.end_time.to_s :datetime

    .location
      %span.field-name= _ 'Location:'
      = @gig.location

  .payment
    .amount-due
      %span.field-name= _ 'Amount due:'
      = @gig.amount_due

    .terms
      %span.field-name= _ 'Terms:'
      = @gig.terms
