!!! 5
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %title= _ 'Contraq'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .app-name= _ 'Contraq'
      .current-user
        - if current_user
          %p!= h(_ 'Logged in as %{email}') % {email: content_tag(:span, current_user.email).html_safe}
    %section.main
      = yield
